@model IEnumerable<dipl_mvc.Models.Utakmice>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @*<link rel="stylesheet" type="text/css" href="~/Content/Site.css">*@
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div id="plavo" class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-md-8 lijevo">
            <div id="naslov" class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rezultati", "Index", "Home", new { area = "" },  new { @style = "color:yellow;", @class = "navbar-brand" })
           
            </div>
            <div id="tekst" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Utakmice/uživo", "Index", "Home")</li>
                    <li>@Html.ActionLink("Završene utakmice", "Zavrseno", "Home")</li>
                    <li>@Html.ActionLink("Kladionica", "Kladionica", "Home")</li>
                    <li>@Html.ActionLink("Listići", "Listic", "Home")</li>
                </ul>
            </div>

        </div>
        <div id="prijavljen">
            <div id="username"><p>Dobrodošli @Session["Username"]</p></div>
            @{
                var id = Convert.ToInt32(Session["UserID"]);
                var ime = Convert.ToString(Session["Username"]);

                foreach (var item in ViewBag.Users)
                {
                    if (item.Id == id)
                    {
                        var tocka = item.Id.ToString();
                        if (tocka.Contains(","))
                        {

                            <div id="stanjeracuna"><p id="@id">@item.stanjeRacuna.ToString().Substring(0, 6) kn</p></div>
                        }
                        else
                        {

                            <div id="stanjeracuna"><p id="@id">@item.stanjeRacuna kn</p></div>
                        }
                    }
                }
            }
            <div id="odjava"><a href="@Url.Action("Logout","Home")">Odjava</a></div>
        </div>
    </div>
    </br>
    </br>
    </br>
    <div class="body-content">
        @*<div id="tablicaheader">
            <table style="float:left;width:50%; margin-left: 15.4%" class="table table-bordered">
                <thead>
                    <tr class="header">
                        <th>1</th>
                        <th>X</th>
                        <th>2</th>
                        <th>1X</th>
                        <th>X2</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
            </table>
        </div>*@
                <div id="tablica">
                    @{
                        int a = 0;
                        foreach (var item2 in Model)

                        {
                            if (item2.status == null)
                            {
                                a++;
                            }
                        }
                        if (a > 0)
                        {

                            <table class="table table-bordered">
                                <thead>
                                    <tr class="header">
                                    <th></th>
                                    <th class="boldano">1</th>
                                    <th class="boldano">X</th>
                                    <th class="boldano">2</th>
                                    <th class="boldano">1X</th>
                                    <th class="boldano">X2</th>
                                    <th class="boldano">12</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            if (item.status == null)
                                            {
                                                <tr id="@item.Id red">
                                                    <th scope="row">@item.Domacin - @item.Gost</th>
                                                    <td id="@item.Id;cell" class="clickable" value=@item.Koeficijent_1>@item.Koeficijent_1</td>
                                                    <td id="@item.Id;cell" class="clickable" value=@item.Koeficijent_X>@item.Koeficijent_X</td>
                                                    <td id="@item.Id;cell" class="clickable" value=@item.Koeficijent_2>@item.Koeficijent_2</td>
                                                    <td id="@item.Id;cell" class="clickable" value=@item.Koeficijent_1X>@item.Koeficijent_1X</td>
                                                    <td id="@item.Id;cell" class="clickable" value=@item.Koeficijent_X2>@item.Koeficijent_X2</td>
                                                    <td id="@item.Id;cell" class="clickable" value=@item.Koeficijent_12>@item.Koeficijent_12</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div id="nemautakmica">Nema zakazanih utakmica!!</div>
                        }
                    }
                </div>
                <div class="odigraj">
                    <div id="parovi">
                    </div>
                    <div class="spremi">
                        <div class="odd"></div>
                        <div class="ulog">Ulog:</div>
                        <input class="unos" id="ulog" type="number" min="5" max="1000" value="5">
                        <div class="isplata">
                            Isplata:
                            <div id="isplata"></div>
                        </div>
                        <button id="uplati" type="button" class="btn btn-primary">Uplati</button>
                    </div>
                </div>
</div>
    <script type="text/javascript">
        var tecaj = 0;
        var rezultati = $.connection.rezultatiHub;
        rezultati.client.ukloni = function (id) {
            var Id = id;
            $("tr").each(function () {                
                if ($(this).attr('id') == (Id + " " + "red"))
                {
                    $("div").each(function () {
                        var i = $(this).attr('id');
                        if (i == Id) {
                            var k = $(this).parent().children().not($(this)).find(".koeficijent").html();
                            tecaj /= parseFloat(k.replace(",", "."));
                            $('.odd').html("Tečaj:" + tecaj.toFixed(2));
                            ulog = $("#ulog").val();
                            ulog *= tecaj;
                            $('#isplata').html(ulog.toFixed(2));
                            $(this).parent().remove();
                         }
                    })
                    $(this).remove();            }
            });
            var broj = document.getElementsByTagName("tr").length - 1;            
            if (broj == 0)
            {
                removeTable();
                //document.getElementById("nemautakmica").innerHTML = "Nema zakazanih utakmica!!";
            }       
            console.log($('.odd').html());
            console.log(tecaj);
            console.log(tecaj.toFixed(2));

            if ((tecaj.toFixed(2).toString()) == "1.00") {
                tecaj = 0;
                console.log("tecaj je 1");
                console.log(tecaj);
            }
            if (tecaj > 1) {
                $('.odd').html("Tečaj:" + tecaj.toFixed(2).toString().replace(".", ","));
                ulog = $("#ulog").val();
                ulog *= tecaj;
                $('#isplata').html(ulog.toFixed(2).toString());
                $('#isplata').html(ulog.toString().toFixed(3));
                $('#uplati').show();
            }
            else {
                $('.odd').html("");
                $('#isplata').html("");
                $('#uplati').hide();
            }
            
        }

        function removeTable()
        {
            document.getElementById("tablica").remove();
            
        }

        var koeficijent;
        $('#uplati').hide();
        $('.clickable').on('click', function () {
            var idut = $(this).attr('id');
            var idutak = idut.split(';');
            var idutakmice = idutak[0];
            var ut = $(this).parent("tr").find("th:first").text();
            var index = $(this).index();
            var table = $(this).closest('table');
            var tip = table.find('.header th').eq(index).text();
            var koef = $(this).html();           
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
                $(".par").filter(":contains(" + ut + ")").remove();
                tecaj /= parseFloat(koef.replace(",", "."));
                //$(".selected").each(function () {
                //    tecaj *= parseFloat($.text().replace(",", ".").slice(0, 7));
                //});

            }
            else {
                var sibilings = $(this).parent().children().not($(this)).removeClass("selected");
                $(this).addClass("selected");
                tecaj = 1;
                $(".selected").each(function () {
                    tecaj *= parseFloat($(this).text().replace(",", "."));     /*parseFloat($(this).text());*/ /*.replace(",", ".").slice(0,7));*/
                   

                });
                $(".par").filter(":contains(" + ut + ")").remove();
                $("#parovi").append("<div class='par'><div id='"+idutakmice+"' class='utakmica'>" + ut + "</div><div class='tipkoeficijent'><span class='tip'>" + tip + "</span>" + " - "+ "<span class='koeficijent'>" + koef + "</span></div>");
          }
            if (tecaj > 1) {
                $('.odd').html("Tečaj:" + tecaj.toFixed(2).toString().replace(".", ","));
                ulog = $("#ulog").val();
                ulog *= tecaj;
                $('#isplata').html(ulog.toFixed(2).toString());
                //$('#isplata').html(ulog.toString().toFixed(3));
                $('#uplati').show();
             }
            else
            {
                $('.odd').html("");
                $('#isplata').html("");
                $('#uplati').hide();
            }
        });
        $("#ulog").on("input", function () {
            
                if (tecaj > 1) {
                    var noviulog = $(this).val();
                    noviulog *= tecaj;
                    $('#isplata').html(noviulog.toFixed(2).toString());
                    $('#uplati').show();
            }
          
            
            
           
        });
        $('#uplati').on('click', function () {

            var brojisplata = parseFloat($('#isplata').html());            
            if (brojisplata <= parseFloat(0)) {
                alert("Unesite ispravan ulog!");
            }
            else {
                var iznos = parseFloat($('#' +@id).html().replace(",", "."));
                var u = parseFloat($('#ulog').val());
                if (iznos < u)
                    alert("Nemate dovoljno novaca na računu!");
                else {


                    novo = iznos - u;
                    $('#' +@id).html(novo.toFixed(2).toString().replace(".", ",") + " kn");                  
                    var user = {};
                    user.Id =@id;
                    user.stanjeRacuna = parseFloat($('#' +@id).html().replace(",", ".").replace("kn",""));                  
                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("Kladionica","Home")',
                            data: '{user: ' + JSON.stringify(user) + '}',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            //success: function () {
                            //    alert("Data has been added successfully.");

                            //},
                            //error: function () {
                            //    alert("Error while inserting data");
                            //}
                        })
                    var utakmica = {};
                    var json = '{"utakmice":[]}';
                    var p = JSON.parse(json);
                    $(".par").each(function () {
                        var a = $(this).find('.utakmica').html();
                        var b = $(this).find('.tip').html();
                        var c = $(this).find('.koeficijent').html();
                        var d = $(this).find('.utakmica').attr('id');
                        utakmica.id = d;
                        utakmica.naziv = a;
                        utakmica.tip = b;
                        utakmica.koeficijent = c;
                        utakmica.status = "null";
                        p.utakmice.push(utakmica);
                        utakmica = {};
                    });
                    var z = {};
                    z.korisnik = "@ime";
                    var str = tecaj.toFixed(2).toString();
                    z.ukupnitecaj = str;
                    z.ulogigraca = u;
                    z.isplati = $('#isplata').html();
                    p.utakmice.push(z);
                    var tekstutakmice = JSON.stringify(p);
                    rezultati.server.share(tekstutakmice);
                }
            }
        });
        $.connection.hub.start({ transport: ['webSockets', 'serverSentEvents', 'longPolling'] });
    </script>
</body>
</html>





