@model dipl_mvc.Models.User

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@*"Registracija", "Users", FormMethod.Post*@

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h1 class="text-center">Registracija</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @id = "novo" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Role)
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                    <p>(označi kako bi se registrirali kao administrator)</p>
                </div>
            </div>
        </div>
        
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registriraj se" class="btn btn-primary" />
                <input class="btn btn-default" type="button" value="Natrag na prijavu" onclick="@("window.location.href='" + @Url.Action("Index", "Login")+"'");" />

            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label class="label-success">@ViewBag.SuccessMessage</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label class="label-danger">@ViewBag.DuplicateMessage</label>
            </div>
        </div>
    </div>
}


